@model WebApi.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Cliente</h2>

<table class="table">
    <tbody>
        <tr>
            <th>Código</th>
            <td>@Html.DisplayFor(model => model.Codigo)</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>@Html.DisplayFor(model => model.Nombre)</td>
        </tr>
        <tr>
            <th>País</th>
            <td>@Html.DisplayFor(model => model.Pais)</td>
        </tr>
        <tr>
            <th>Tipo Documento</th>
            <td>@Html.DisplayFor(model => model.Descripcion)</td>
        </tr>
        <tr>
            <th>Nro Documento</th>
            <td>@Html.DisplayFor(model => model.NroDocumento)</td>
        </tr>
    </tbody>
</table>

<p>
    @Html.ActionLink("Editar", "Edit", new {  codigo = Model.Codigo }) |
    @Html.ActionLink("Regresar al menú", "Index")
</p>
